body {
  margin: 0;
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 20px;
}

header {
  background: #444;
  height: 45px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.outputBox {
  height: 500px;
  width: 900px;
  margin: 40px auto 0;
}

.ingredients {
  float: left;
  width: 650px;
  height: 100%;
}

.ingredientList {
  box-sizing: border-box;
  background: #0ab;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px 0 0 60px;
  color: white;
}

.dishes {
  float: right;
  width: 250px;
}

.dish {
  box-sizing: border-box;
  background: teal;
  height: 100px;
  width: 100%;
  padding: 20px;
  box-shadow: -2px 0px 5px #111,
    -3px -5px 10px #111;
}

.recipeList {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.options {
  height: 40px;
  width: 900px;
  margin: 0 auto;
  border-top: 2px solid #fff;
}

.edit {
  background: #0ab;
  height: 100%;
  width: 50%;
  float: left;
  margin: 0;
}

.addNew {
  background: teal;
  height: 100%;
  width: 50%;
  float: right;
  margin: 0;
}

.newItem {
  box-sizing: border-box;
  width: 650px;
  height: 400px;
  color: black;
  padding: 30px 30px 30px 30px;
  border: 3px solid #0ab;
  overflow-y: scroll;
}

.newItem:after {
  clear: both;
}

.newItem label {
  display: block;
  width: 200px;
  height: 45px;
  margin: 10px 0 10px 0;
  float: left;
}

.newItem input {
  display: block;
  width: 350px;
  height: 30px;
  border: 3px solid #0ab;
  border-radius: 3px;
  display: block;
  float: right;
}

.clear {
  height: 0;
  clear: both;
}

.addPlus {
  display: block;
  float: right;
  width: 45px;
  height: 45px;
  background: #0ab;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  text-align: center;
  selection: none;
}

.addPlus::selection {
  display: none;
}

.addPlus::-moz-selection {
  display: none;
}

.cancelDish, .submitDish {
  width: 100px;
  height: 45px;
  margin: 30px 0 50px 0;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  display: block;
  background: #0ab;
}

.cancelDish {
  float: left;
}

.submitDish {
  float: right;
}

.addedToList {
  display: none;
}

.error {
  color: red;
}
